Repository 1Hive/redemptions-app, pull requests merged in 2019-06, with the labels that each got.

#17 Handle message signing for proper authentication & remove tokens functionality
  .DS_Store
  .gitignore
  app/package.json
  app/src/App.js
  app/src/components/BalanceToken.js
  app/src/components/Balances.js
  app/src/components/Forms/RedeemTokens.js
  app/src/components/Forms/UpdateTokens.js
  app/src/lib/web3-utils.js
  app/src/script.js
  app/src/web3-utils.js
  contracts/Redemptions.sol
  contracts/Template.sol
  contracts/lib/ArrayUtils.sol
  migrations/2_deploy_contracts.js
Labels: redemptions-app

#18 new test set
  app/package.json
  app/src/App.js
  app/src/components/BalanceToken.js
  app/src/components/Forms/RedeemTokens.js
  app/src/lib/web3-utils.js
  app/src/script.js
  contracts/Redemptions.sol
  migrations/2_deploy_contracts.js
  test/RedemptionsTest.js
  test/helpers/helpers.js
Labels: smartcontracts

#23 Remove token array on Redemptions initialize function
  contracts/Redemptions.sol
  contracts/Template.sol
  test/RedemptionsTest.js
Labels: redemptions-app, smartcontracts

#24 Fix local truffle
  test/RedemptionsTest.js
  test/helpers/helpers.js
Labels: bug, redemptions-app, smartcontracts

#28 tokenBadge
  app/package.json
  app/src/App.js
  app/src/components/Balances.js
  app/src/components/Forms/UpdateTokens.js
  package.json
Labels: enhancement, frontend, redemptions-app

#31 Include new metada
  app/public/meta/details.md
  app/public/meta/icon.svg
  app/public/meta/screenshot-1.png
  app/public/meta/screenshot-2.png
  app/public/meta/screenshot-3.png
  manifest.json
Labels: frontend, redemptions-app

#32 Allow to redeem fractions of a token && add redeem icon
  app/src/App.js
  app/src/assets/icono.svg
  app/src/components/Balances.js
  app/src/components/Forms/RedeemTokens.js
  app/src/components/Forms/UpdateTokens.js
Labels: enhancement, frontend, redemptions-app
